language: node_js
node_js:
- 0.12
- 4
- 5
sudo: false
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
env:
  CXX=g++-4.8
before_script:
  - npm install -g grunt-cli node-gyp
deploy:
  provider: npm
  email: vilson@void.cc
  api_key:
    secure: NXmq8QxhiJ49sUbzmZ6gs+YlfLeCfMvHo0N8xvGbW/yrvJQzDf5vXwECgLF0u/uDjP9VF4i1Gdkmi3i0906FlvlfodnE6HmUXJHymFwy947ei8crI7W9XI6wuqipKDdcPsG9hmgwKYRMWkQ5PXVyhmKG77jKxr3eTYOwnhvrrNE=
  on:
    tags: true
    repo: noflo/noflo-sharp
